[submodule "goal_strategy"]
	path = goal_strategy
	url = git@github.com:VictorDubois/goal_strategy.git
[submodule "lidar_strategy"]
	path = lidar_strategy
	url = git@github.com:VictorDubois/lidar_strategy.git
[submodule "krabi-msgs"]
	path = krabi-msgs
	url = git@github.com:VictorDubois/krabi-msgs.git
[submodule "main-strategy"]
	path = main-strategy
	url = git@github.com:VictorDubois/main-strategy.git
[submodule "krabi_python_serial_broker"]
	path = krabi_python_serial_broker
	url = git@github.com:VictorDubois/krabi_python_serial_broker.git
[submodule "krabi_gpio"]
	path = krabi_gpio
	url = git@github.com:VictorDubois/krabi_gpio.git
[submodule "krabi_fast_serial_broker"]
	path = krabi_fast_serial_broker
	url = git@github.com:VictorDubois/krabi_fast_serial_broker.git
[submodule "krabi-can-broker"]
	path = krabi-can-broker
	url = git@github.com:VictorDubois/krabi-can-broker.git
[submodule "ldlidar"]
	path = ldlidar
	url = git@github.com:linorobot/ldlidar.git
