<?xml version="1.0"?>

<launch>
  <arg name="justLocNotSlam" default="true"/>

  <group if="$(arg justLocNotSlam)">
  <!--loc mode-->
  <node name="loc2d_ros" pkg="iris_lama_ros" type="loc2d_ros">
    <param name="use_map_topic" value="true" />
    <param name="publish_tf" value="false" />
    <param name="global_frame_id" value="map_loc2d" />
    <param name="odom_frame_id" value="krabby/odom" />
    <param name="base_frame_id" value="krabby/base_link" />
    <param name="scan_topic" value="scan_loc" />
    <param name="truncate" value="0.2" />
    <param name="create_summary" value="true" />
    <param name="force_update_on_initial_pose" value="true" />
    <remap from="odom" to="/krabby/odom" />
  </node>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find krabi_bringup)/map_base_link.yaml">
    <param name="frame_id" value="map_loc2d"/>
  </node>
  </group>

  <group unless="$(arg justLocNotSlam)">
    <!--mapping mode--> 
    <node name="slam2d_ros" pkg="iris_lama_ros" type="slam2d_ros">
	    <param name="global_frame_id" value="map_loc2d" />
       <param name="odom_frame_id" value="krabby/odom" />
       <param name="base_frame_id" value="krabby/base_link" />
       <param name="scan_topic" value="/krabby/scan_obstacles" />
       <param name="truncate" value="0.2" />
       <param name="create_summary" value="true" />
       <param name="initial_pos_x" value="0.0" />
    </node>
<!--
  <node name="map_server" pkg="map_server" type="map_saver" args="$(find krabi_bringup)/map_coin_inverted.yaml">
    <param name="frame_id" value="map_loc2d"/>
  </node>
-->
  </group>
</launch>
