<?xml version="1.0"?>
<launch>
    <arg name="isBlue" default="false"/>
    <arg name="isSimulation" default="true"/>
    <arg name="isLogReplay" default="false"/>
    <arg name="logPath" default="/home/me/ros_files/my_file.bag"/>

    <arg name="detectWeathercock" default="false"/>
    <arg name="useLidarLoc" default="false"/>
    <arg name="useTimInsteadOfNeato" default="true"/>
    <arg name="justLocNotSlam" default="true"/>

    <group if="$(arg isBlue)">
        <include file="$(find krabi_bringup)/launch/kraboss.launch">
            <arg name="xRobotPos" value="-1"/>
            <arg name="yRobotPos" value="0.5"/>
            <arg name="zRobotOrientation" value="0"/>
        

            <arg name="isBlue" default="$(arg isBlue)"/>
            <arg name="isSimulation" default="$(arg isSimulation)"/>
            <arg name="isLogReplay" default="$(arg isLogReplay)"/>
            <arg name="logPath" default="$(arg logPath)"/>
            <arg name="detectWeathercock" default="$(arg detectWeathercock)"/>
            <arg name="useLidarLoc" default="$(arg useLidarLoc)"/>
            <arg name="useTimInsteadOfNeato" default="$(arg useTimInsteadOfNeato)"/>
            <arg name="justLocNotSlam" default="$(arg justLocNotSlam)"/>
    	</include>
    </group>
    <group unless="$(arg isBlue)">
        <include file="$(find krabi_bringup)/launch/kraboss.launch">
            <arg name="xRobotPos" value="1"/>
            <arg name="yRobotPos" value="0.5"/>
            <arg name="zRobotOrientation" value="0"/>
    

            <arg name="isBlue" default="$(arg isBlue)"/>
            <arg name="isSimulation" default="$(arg isSimulation)"/>
            <arg name="isLogReplay" default="$(arg isLogReplay)"/>
            <arg name="logPath" default="/home/me/ros_files/my_file.bag"/>
            <arg name="detectWeathercock" default="$(arg detectWeathercock)"/>
            <arg name="useLidarLoc" default="$(arg useLidarLoc)"/>
            <arg name="useTimInsteadOfNeato" default="$(arg useTimInsteadOfNeato)"/>
            <arg name="justLocNotSlam" default="$(arg justLocNotSlam)"/>
    	</include>
    </group>
</launch>
