<?xml version="1.0"?>
<launch>
    <arg name="useTimInsteadOfNeato" default="true"/>
    <arg name="useLidarLoc" default="false"/>
    <node name="gpio_kraboss_node" pkg="gpio_kraboss" type="main.py" />
    <!--<node name="lcd_node" pkg="rosserial_server" type="serial_node.py">
    <param name="port" value="/dev/lcd"/>
    <param name="baud" value="57600"/>
  </node>-->
    <node name="motors_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/motors"/>
        <param name="baud" value="115200"/>
    </node>
    <node name="servos_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/servos"/>
        <param name="baud" value="57600"/>
    </node>

    <group if="$(arg useTimInsteadOfNeato)">
        <include file="$(find krabi_bringup)/launch/tim_obstacles.launch" ns="/krabby">
        </include>
    </group>
    <group unless="$(arg useTimInsteadOfNeato)">
    <node name="neato_laser_publisher" pkg="xv_11_laser_driver" type="neato_laser_publisher">
        <param name="port" value="/dev/lidar"/>
        <param name="baud" value="115200"/>
        <param name="frame_id" value="/krabby/neato_laser"/>
    </node>
    </group>
<!--    <node pkg="tf" type="static_transform_publisher" name="odom_map" args="$(arg init_pose/x) $(arg init_pose/y) 0 $arg(init_pose/theta) 0 0 /map /krabby/odom 50"/>-->
    
    <group if="$(arg useLidarLoc)">
        <include file="$(find krabi_bringup)/launch/tim_loc.launch" ns="/krabby">
        </include>
    </group>

</launch>
