<launch>
    <arg name="isBlue" default="false"/>
    <arg name="isSimulation" default="true"/>

    <rosparam file="$(find krabi_bringup)/config/is_blue.yaml" if="$(arg isBlue)" />
    <rosparam file="$(find krabi_bringup)/config/is_yellow.yaml" unless="$(arg isBlue)" />


    <group if="$(arg isSimulation)">
        <include file="$(find krabi_bringup)/launch/krabossSimu.launch">
            <arg name="isBlue" value="$(arg isBlue)"/>
        </include>
        <param name="/strategy/lidar/min_intensity" value="0" />
        <param name="/use_sim_time" value="true"/>
    </group>
    <group unless="$(arg isSimulation)">
        <include file="$(find krabi_bringup)/launch/krabossHardware.launch" ns="/krabby"/>
    </group>

    <include file="$(find krabi_bringup)/launch/krabossMain.launch" ns="/krabby">
        <arg name="isBlue" value="$(arg isBlue)"/>
    </include>
</launch>
