<?xml version="1.0"?>

<launch>
  <arg name="initial_pos_x" default="$(arg initial_pos_x)"/>
  <arg name="initial_pos_y" default="$(arg initial_pos_y)"/>
  <arg name="initial_pos_a" default="$(arg initial_pos_a)"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find krabi_bringup)/params/ekf_template_krabi.yaml" />

<rosparam param="initial_state" subst_value="True">[$(arg initial_pos_x),  $(arg initial_pos_y),  $(arg initial_pos_a),
                                 0.0,  0.0,  0,
                                 0.0,  0.0,  0.0,
                                 0.0,  0.0,  0.0,
                                 0.0,  0.0,  0.0]</rosparam>

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
</launch>
